

 img {
    float:left;
    margin-right:10px;
    margin-left:20px;
 }
 
 .main_heading {
    color: fuchsia;
    font-size: 50px;
    text-align: center;
    cursor: default;
    transition: 0.3s;

  }




 .blueText {
    color: darkturquoise !important; /* Use !important to override other color styles */
}

a {
    color:inherit;
    text-decoration: none;
}

@keyframes rainbow-spin {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
  }

  .rainbow_animation {
    animation-name: rainbow-spin;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .small_heading {
    font-size: 30px;
    margin-left: 20px;
  }

  .big_heading {
    font-size: 40px;
    margin-left: 20px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 300px;
  }

  .description {
    text-align: left;
  }